.button
{
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 7px 11px;
}
.button-light
{
    border-color: #d4d4d4;
    background-color: white;
    color: black;
    box-shadow: 0 4px #363636;
}
.button-dark
{
    border-color: white;
    background-color: black;
    color: white;
    box-shadow: 0 4px #e2e2e2;
}
.button:hover
{
    padding: 6px 10px;
    border: 2px solid #ffd500;
    text-decoration: underline;
}
.button:active
{
    padding: 4px 9px;
    border: 3px solid rgba(255, 213, 0, 0.8);
    transform: translateY(4px);
    box-shadow: 0 2px #111111;
    margin-bottom: 2px;
}