@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
input.button
{
    font-family: "Ubuntu", sans-serif;
    background-color: inherit;
    color: inherit;
    border: inherit;
    font-size: inherit;
    cursor: pointer;
    height: 100%;
    display: inline-block;
}
input.button:hover
{
    text-decoration: underline;
}