@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ubuntu&display=swap');
.heading.serif
{
    font-family: "Merriweather", serif;
    letter-spacing: 1px;
}
.heading.sans-serif
{
    font-family: "Ubuntu", sans-serif;
}
h1.heading
{
    font-size: 36px;
    margin: 16px 0;
}
h2.heading
{
    font-size: 30px;
    margin: 14px 0;
}
h3.heading
{
    font-size: 24px;
    margin: 10px 0;
}
h4.heading
{
    font-size: 20px;
    margin: 8px 0;
}
h5.heading
{
    font-size: 18px;
    margin: 6px 0;
}
h6.heading
{
    font-size: 16px;
    margin: 4px 0;
}