@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
.banner
{
    background-position: center;
    background-size: cover;
}
.banner-dark
{
    background-color: black;
    color: white;
}
.banner-light
{
    background-color: black;
    color: white;
}
.banner-padding
{
    padding: 10px 0;
}